:root{
    --sidePanel-color:#0f0f13;
    --message-color:#222429;
    --main-color:#222429 ;
    --metaPanel-color:#0f0f13;
    --hover-color: rgb(24, 45, 109);
    --message-form-color: #555b66;
  }